.g1 {
  position: relative;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}






/* container of t1 */
.s2 {
  position: absolute;
  top: 0;
  margin-top: -30px;
  margin-left: -100px;
  display: flex;
 
}

.t8{
  height: auto;
  margin-left: 900px;
  margin-top: -90px;
}
.t9{
  color: white;
  position: relative;
  font-size: 50px;
}
/* t1 image animation */
.m2 {
  width: 500px; /* adjust size if needed */
 
}


.b1{
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  color: #c2185b;
  font-weight: bold;
  transition: transform 0.2s ease;
}


