

.container {
  background: radial-gradient(#ffe6f0, #ffb6c1);
  height: 100vh;
  display: flex;
 
  
  font-family: cursive;
  background-size: 300% 300%;
  overflow: hidden;
}

.f1{
  margin-top: 150px;
  margin-left: 500px;
  
 
  width: 100px;
}

.btn3{
  margin-top: 40%;
  margin-left: 50%;
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  color: #c2185b;
  font-weight: bold;
}

.btn4{
  margin-top: 40%;
  margin-left: 50%;
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  color: #c2185b;
  font-weight: bold;
}

.t1{
  margin-left: 150px;
  margin-top: 150px;
}
link{
  color: pink;
}