* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
  background: linear-gradient(
    120deg,
    #000000,
    #000000,
    #fbc2eb,
    #ff9a9e
  );
  background-size: 300% 300%;
  overflow: hidden;
}

.btn {
  margin-top: 40%;
  margin-left: 50%;
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  color: #c2185b;
  font-weight: bold;
}

#box{
 
  
  margin-top: -1500px;
  margin-left: 100px;
 
  width: 100px;
}




