
.container2{
  background: radial-gradient(#ffe6f0, #ffb6c1);
  height: 100vh;
  width: 100%;
  font-family: cursive;
  background-size: 300% 300%;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  position: relative; /* REQUIRED */
}

.d1{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, auto);   /* 2 rows */
  gap: 20px;
  justify-items: center;
  align-items: center;

}

.d2{
  margin-top: 100px;
  margin-left: 30px;
  display: block;
}

.e1{
  width: 300px;
  height: auto;
  object-fit: contain;
}
.e2{
  width: 300px;
  height: auto;
  object-fit: contain;
}
.e3{
  width: 300px;
  height: auto;
  object-fit: contain;
}
.e4{
  width: 300px;
  height: auto;
  object-fit: contain;
}

.b12{
  padding: 14px 30px;
  margin-top: 50px;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  color: #c2185b;
  font-weight: bold;
  transition: transform 0.2s ease;
}
